<div class="main">
    <mat-grid-list cols="8" rowHeight="100%">
        <mat-grid-tile colspan="6">
            <div class="expand padding-18" *ngIf="users">
                <app-user-list [users]="users" (selectEvent)="select($event)"></app-user-list>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <div class="expand padding-18">
                <div class="mat-elevation-z4 padding-18">
                    <button mat-button (click)="visitCreate()">Nutzer einladen</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
