<div>
    <div class="back-button-container" *ngIf="!success">
        <button mat-flat-button color="accent" (click)="backToLogin()"><mat-icon>arrow_back</mat-icon></button>
    </div>
    <div class="center-text">
        <h1 *ngIf="!success">Neues Passwort anfordern</h1>
        <div *ngIf="success" class="mail-icon-container">
            <mat-icon class="icon-display">forward_to_inbox</mat-icon>
        </div>
    </div>
    <form [formGroup]="form" *ngIf="!success">
        <mat-form-field>
            <mat-label>E-Mail</mat-label>
            <input type="email" matInput formControlName="email" placeholder="deine@email.de" />
            <mat-hint class="error-hint" *ngIf="submitted && f['email'].errors && f['email'].errors['required']">
                E-Mail bitte ausfüllen
            </mat-hint>
            <mat-hint class="error-hint" *ngIf="submitted && f['email'].errors && f['email'].errors['email']">
                Keine gültige E-Mail-Adresse
            </mat-hint>
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="submit()">Passwort anfordern</button>
    </form>
    <div *ngIf="success">
        <div class="success-message">
            Wir haben Ihnen eine E-Mail an folgende Adresse gesendet:
            <div class="requested-mail-adress">{{ form.value.email }}</div>
            Klicken Sie auf den Link in der E-Mail, um Ihr Passwort zurückzusetzen.
        </div>
        <div>
            <button class="backButton" mat-flat-button color="primary" (click)="backToLogin()">Zum Login</button>
        </div>
    </div>
</div>
