form {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 75%;
    margin: auto;
}

mat-form-field {
    padding-bottom: 15px;
}

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}

.back-button-container {
    display: flex;
    align-content: flex-start;
    margin-bottom: 20px;
}

.backButton {
    display: block;
    margin: 50px auto;
}

.error-hint {
    color: red;
}

.success-message {
    text-align: center;
}

.mail-icon-container {
    margin: 60px;
}

.icon-display {
    transform: scale(4);
}

.requested-mail-adress {
    font-size: 17px;
    font-weight: 700;
    margin: 10px;
}
