<form class="mat-elevation-z8" [formGroup]="editForm" (submit)="submit()">
    <div class="form-row">
        <span class="mat-headline">Name</span>
        <mat-form-field appearance="outline">
            <mat-label>Name des Kunden</mat-label>
            <input formControlName="name" matInput placeholder="Placeholder" />
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </div>
    <div class="form-row">
        <span class="mat-headline">Adresse</span>
        <mat-form-field appearance="outline">
            <mat-label>Straße und Hausnummer des Kunden</mat-label>
            <input formControlName="streetAndNumber" matInput placeholder="Placeholder" />
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </div>
    <div class="form-row">
        <div class="controls">
            <mat-form-field appearance="outline">
                <mat-label>Stadt des Kunden</mat-label>
                <input formControlName="city" matInput placeholder="Placeholder" />
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Postleitzahl des Kunden</mat-label>
                <input formControlName="zipCode" matInput placeholder="Placeholder" />
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Land des Kunden</mat-label>
                <input formControlName="country" matInput placeholder="Placeholder" />
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <button mat-stroked-button type="submit" *ngIf="editable" [disabled]="!editForm.valid">Speichern</button>
    <button mat-stroked-button type="button" *ngIf="editable" (click)="toggleEditable()">Abbrechen</button>
    <button mat-stroked-button type="button" *ngIf="!editable" (click)="toggleEditable()">Bearbeiten</button>
    <button mat-stroked-button type="button" (click)="requestDelete()">Löschen</button>
</form>
