.Page {
    background-color: #ddd;
}

.WidgetContent {
    background-color: #fafafa;
}

.WidgetContent:hover {
    background-color: #fff;
}

.DataPageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.SiloChooserButton {
    width: 70%;
    max-width: 700px;
    justify-content: flex-start;
    padding: 20px;
    font-size: larger;
    color: #111;
    background-color: #fff;
    transition-duration: .5s;
    margin: 2px;
    border: 0px;
}

.SiloChooserButtonActive {
    border: solid 2px tomato;
    margin: 0px;
}

.Drawer {
    z-index: 999;
    background-color: #fff;
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition-duration: .2s;
    right: 0;
    bottom: 0;
    border-radius: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.DrawerCollapsed {
    width: 0;
    height: 0;
    background-color: #ffffff00;
    border-top-left-radius: 50%;
}

.DrawerContentWindow {
    width: 100vw;
    height: 100vh;
    overflow: hidden scroll;
}

.DrawerContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    align-self: stretch;
}

.DrawerNavigation {
    background-color: #f0f0f0;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    z-index: 1000;
}

.DrawerNavigationTop {
    background-color: #f0f0f0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    z-index: 1000;
}

.DrawerNavigationTopSpacer {
    padding-top: 120px;
}