<h1>Neues Passwort wählen</h1>
<form [formGroup]="form">
    <mat-form-field>
        <mat-label>Passwort</mat-label>
        <input type="password" matInput formControlName="password">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Passwort wdh.</mat-label>
        <input type="password" matInput formControlName="repeatPassword">
    </mat-form-field>
    <input type="password" matInput formControlName="token" class="hidden">
    <button mat-button (click)="submit()">Login</button>
</form>