<div class="mat-elevation-z8 table-wrapper" [hidden]="!dataSource">
    <div class="header">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="z.B. Name" #input />
        </mat-form-field>
    </div>

    <table *ngIf="dataSource" mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef>Version</th>
            <td mat-cell *matCellDef="let element">{{ element.version }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="invalidated">
            <th mat-header-cell *matHeaderCellDef>Aktiv</th>
            <td mat-cell *matCellDef="let element">{{ element.invalidated ? 'Nein' : 'Ja' }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="select(row)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>
