<app-toolbar title="System bearbeiten"></app-toolbar>
<div class="main">
    <form *ngIf="editForm" [formGroup]="editForm">
        <div class="form-row">
            <span class="mat-headline">Name</span>
            <mat-form-field appearance="outline">
                <mat-label>Name des Systems</mat-label>
                <input formControlName="name" matInput placeholder="Placeholder" />
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </div>
        <div class="form-row">
            <span class="mat-headline">Lohnunternehmer</span>
            <mat-form-field>
                <input
                    type="text"
                    placeholder="Name des Lohnunternehmers"
                    aria-label="Number"
                    matInput
                    formControlName="contractor"
                />
            </mat-form-field>
        </div>
        <div class="form-row">
            <button type="button" (click)="generateKey()" mat-stroked-button>Schlüssel generieren</button>
            <mat-form-field appearance="outline" *ngIf="token">
                <mat-label>Generierter Schlüssel</mat-label>
                <input matInput [value]="token" />
                <mat-hint>Der Schlüssel kann kopiert werden</mat-hint>
            </mat-form-field>
        </div>
    </form>
</div>
