<mat-drawer-container #drawer class="drawer-container" autosize>
    <mat-drawer class="example-sidenav" opened="false" mode="side">
        <img class="logo" style="cursor: pointer" (click)="navigateTo('dashboard')" src="assets/images/logo.svg" />
        <div class="nav-button-container">
            <div *ngFor="let route of routes">
                <button class="nav-button" mat-flat-button color="primary" (click)="navigateTo(route.uri)">
                    <mat-icon class="nav-button-icon">{{ route.icon }}</mat-icon> {{ route.title }}
                </button>
            </div>
        </div>
    </mat-drawer>
</mat-drawer-container>
