<img id="logo" src="assets/images/logo.svg" />
<form [formGroup]="loginForm">
    <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input type="email" matInput formControlName="email" placeholder="deine@email.de" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Passwort</mat-label>
        <input type="password" matInput formControlName="password" />
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="submit()">Login</button>
</form>
<div>Passwort vergessen? <a routerLink="../request-password">Zurücksetzen</a></div>
