form {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    padding-bottom: 25px;
}

mat-form-field {
    padding-bottom: 15px;
}

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-hint {
    color: red;
}

#logo {
    padding: 0 25px 25px 25px;
}
