<app-toolbar title="Silo Datensatz"></app-toolbar>
<div class="main" *ngIf="siloDatumWithUrls">
    <div class="row">
        <app-silo-datum-metadata [data]=siloDatumWithUrls></app-silo-datum-metadata>
        <app-silo-datum-map [data]="siloDatumWithUrls"></app-silo-datum-map>
    </div>
    <div class="row">
        <app-silo-datum-volume [data]="siloDatumWithUrls"></app-silo-datum-volume>
        <app-silo-datum-feed [data]="siloDatumWithUrls"></app-silo-datum-feed>
    </div>
    <div class="row">
        <app-silo-datum-interactive-volume-model [data]="siloDatumWithUrls"></app-silo-datum-interactive-volume-model>
    </div>
</div>