.main {
    height: calc(100% - 64px);
}
.row > * {
    padding: 12px;
}
@media(max-width: 800px) {
    .row {
        display: block;
        width: 100%;
    }
    .row > * {
        display: block;
        width: 100%;
    }
}
@media(min-width: 800px) {
    .row {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto
    }
    .row:nth-child(1) {
        grid-row: 1;
        grid-column: 1;
    }
    .row:nth-child(2) {
        grid-row: 1;
        grid-column: 2;
    }
}
iframe {
    width: 100%;
    height: 400px;
}