<app-toolbar title="System anlegen"></app-toolbar>
<div class="main">
    <form [formGroup]="createForm" (ngSubmit)="submit()">
        <div class="form-row">
            <span class="mat-headline">Name</span>
            <mat-form-field appearance="outline">
                <mat-label>Name des Systems</mat-label>
                <input formControlName="name" matInput placeholder="Placeholder" />
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </div>
        <div class="form-row">
            <span class="mat-headline">Lohnunternehmen</span>
            <mat-form-field>
                <mat-label>Lohnunternehmen auswählen</mat-label>
                <mat-select formControlName="contractor">
                    <mat-option *ngFor="let contractor of contractors" [value]="contractor">
                        {{ contractor.name
                        }}<span class="small-address"
                            >({{ contractor.streetAndNumber }}, {{ contractor.zipCode }}, {{ contractor.city }},
                            {{ contractor.country }})</span
                        >
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-row">
            <button type="submit" [disabled]="!createForm.valid" mat-stroked-button>Speichern</button>
        </div>
    </form>
</div>
