:host {
    width: 100%;
}

.main {
    width: 100%;
    height: calc(100% - 64px);
    padding: 18px;
}
.main > * {
    margin: 0 18px;
}
.main:first-child {
    margin-top: 0;
}
.main:last-child {
    margin-bottom: 0;
}