<app-toolbar title="Betriebe"></app-toolbar>
<div class="main">
    <mat-grid-list cols="8" rowHeight="100%">
        <mat-grid-tile colspan="6">
            <div class="expand padding-18" *ngIf="customers">
                <app-customer-list [customers]="customers" (selectEvent)="select($event)"></app-customer-list>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <div class="expand padding-18">
                <div class="mat-elevation-z4 padding-18">
                    <button mat-button (click)="visitCreate()">Betrieb anlegen</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
