<app-toolbar title="Nutzer bearbeiten"></app-toolbar>
<div class="main">
    <form *ngIf="form" [formGroup]="form">
        <div class="form-row">
            <span class="mat-headline">E-Mail</span>
            <mat-form-field appearance="outline">
                <mat-label>E-Mail</mat-label>
                <input formControlName="email" matInput type="text" />
                <mat-hint>E-Mail des Benutzers</mat-hint>
            </mat-form-field>
        </div>
        <div class="form-row">
            <span class="mat-headline">Name</span>
            <mat-form-field appearance="outline">
                <mat-label>Vorname</mat-label>
                <input formControlName="firstName" matInput type="text" />
                <mat-hint>Vorname des Benutzers</mat-hint>
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field appearance="outline">
                <mat-label>Nachname</mat-label>
                <input formControlName="lastName" matInput type="text" />
                <mat-hint>Nachname des Benutzers</mat-hint>
            </mat-form-field>
        </div>
        <div class="form-row">
            <span class="mat-headline">Rolle</span>
            <mat-form-field appearance="outline">
                <mat-label>Rolle</mat-label>
                <input formControlName="role" matInput type="text" />
                <mat-hint>Rolle des Benutzers</mat-hint>
            </mat-form-field>
        </div>
    </form>
    <div *ngIf="user" class="form-row">
        <button *ngIf="user.role !== Role.OWNER" mat-stroked-button type="button" (click)="requestDelete()">
            Benutzer löschen
        </button>
    </div>
</div>
